@model AddMusicianViewModel

<div class="container mt-4">
    <h2>Select Musicians to Add to Group</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Instrument</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var musician in Model.Users)
            {
                <tr>
                    <td>@musician.UserName</td>
                    <td>@musician.Instrument</td>
                    <td>
                        <form asp-action="AddMusician" method="post">
                            <input type="hidden" name="groupId" value="@Model.GroupId" />
                            <input type="hidden" name="musicianId" value="@musician.Id" />
                            <button type="submit" class="btn btn-primary">Add to Group</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
