@model JamSpotApp.Models.Group.DeleteGroupViewModel

<link rel="stylesheet" href="~/css/CreateGroup.css" asp-append-version="true" />

<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="Group-container">
        @if (Model != null)
        {
            <h2 class="mt-2">Are you sure you want to delete this Group?</h2>

            <div>
                <h4>@Model.GroupName</h4>
                <p>Organizer: @Model.Creator</p>

                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        }
        else
        {
            <h1 class="text-danger">Group not found.</h1>
        }
    </div>
</div>