@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="mt-4 p-5 custom-navbar text-white rounded">
            <h1 class="d-flex justify-content-center">JamSpot</h1>
            <h1 class="d-flex justify-content-center"></h1>
            <h1 class="d-flex justify-content-center"></h1>
            <h1 class="d-flex justify-content-center"></h1>

            <form class="d-flex justify-content-center">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </main>
</div>
