
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="container">
    <main role="main" class="pb-3">
        <div class="mt-4 p-5 custom-navbar text-white rounded">
            <h1 class="d-flex justify-content-center">JamSpot</h1>

            <form asp-action="Search" asp-controller="Home" method="get" class="d-flex justify-content-center">
                <div style="position: relative; width: 50%;">
                    <input id="searchInput" class="form-control me-2" type="text" name="query" placeholder="Search for users or groups" autocomplete="off">
                    <div id="dropdownMenu" class="dropdown-menu" style="display: none; position: absolute; width: 100%; z-index: 1000;"></div>
                </div>
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>

        <h3 class="d-flex justify-content-center mt-5">Events</h3>
        <partial name="Events" model="Model.Events" />

        <h3 class="d-flex justify-content-center mt-5">Posts</h3>
        <partial name="Posts" model="Model.Posts" />
    </main>
</div>

<script src="~/js/Home.js"></script>
