@using JamSpotApp.Models.User
@model EditUserViewModel

<link rel="stylesheet" href="~/css/User.css" asp-append-version="true" />

<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="User-container">
        <h2>Edit User</h2>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="User-picture-container">
                <img id="UserImage"
                     src="@Model.ExistingPicturePath"
                     alt="Profile Picture"
                     class="User-picture"
                     onclick="document.getElementById('fileInput').click();" />
                <input type="file"
                       id="fileInput"
                       class="file-input"
                       asp-for="ProfilePicture"
                       accept="image/*"
                       onchange="previewImage(event)" />
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserBio" class="control-label">Bio</label>
                <textarea asp-for="UserBio" class="form-control"></textarea>
                <span asp-validation-for="UserBio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instrument" class="control-label">Instrument</label>
                <input asp-for="Instrument" class="form-control" />
                <span asp-validation-for="Instrument" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
            @if (Model != null)
            {
                <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mt-3">Delete</a>
            }
        </form>
    </div>
</div>
<script>

    // Image preview function
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('UserImage');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>