@{
    ViewData["Title"] = "Server error";
}

<h1 class="text-danger">An internal server error has occurred</h1>
<p>Sorry for the inconvenience. Please try again later.</p>
<p>If the problem persists, contact us for assistance.</p>
