<link rel="stylesheet" href="~/css/Error.css" asp-append-version="true" />


<div class="Error-wrapper">
    <div class="Error-container">
<h1 class="text-danger">An internal server error has occurred</h1>
<p>Sorry for the inconvenience. Please try again later.</p>
<p>If the problem persists, contact us for assistance.</p>
    </div>
</div>