@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "External Login";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Login with a social account</h2>
    <hr />
    <div>
        <a asp-page-handler="Get" asp-route-provider="Google" class="btn btn-primary">Login with Google</a>
    </div>
    <div>
        <a asp-page-handler="Get" asp-route-provider="Apple" class="btn btn-secondary">Login with Apple</a>
    </div>
</div>
