@page
@model LoginModel

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="login-container">
        <h2>Sign in</h2>

        <!-- Google и Apple логин бутони -->
        <div class="social-buttons">
            <form method="get" asp-page="/Account/ExternalLogin" asp-route-provider="Google">
                <button type="submit" class="btn btn-google">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" alt="Google logo">
                    with Google
                </button>
            </form>
            <form method="get" asp-page="/Account/ExternalLogin" asp-route-provider="Apple">
                <button type="submit" class="btn btn-apple">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple logo">
                    with Apple
                </button>
            </form>
        </div>

        <!-- Разделител -->
        <div class="divider">OR</div>

        <!-- Email and Password Login Form -->
        <form method="post">
            <div class="form-group mb-2">
                <input asp-for="Input.Email" class="form-control" placeholder="Email or username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-2 d-flex align-items-center">
                <input asp-for="Input.RememberMe" class="form-check-input me-2" id="rememberMe" />
                <label asp-for="Input.RememberMe" class="form-check-label">Keep me signed in</label>
            </div>


            <button type="submit" class="btn btn-signin">Sign in</button>
        </form>

        <p class="text-muted mt-3 mb-1">Forgot your password?</p>
        <p class="text-muted">
            Don't have an account?
            <a asp-area="Identity" asp-page="/Account/Register" class="text-primary">Sign up</a>
        </p>
    </div>
</div>
