@using JamSpotApp.Models.feed
@model CreatePostViewModel
<link rel="stylesheet" href="~/css/Feed.css" asp-append-version="true" />

<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="Feed-container">
        <h2>Edit Feed</h2>

        <form asp-action="Edit" method="post">

            <div class="mb-3">
                <label asp-for="Title" class="form-label-add-edit">Post Title</label>
                <input asp-for="Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label-add-edit">Description</label>
                <textarea asp-for="Content" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning btn-dark-text mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Confirm" />
            </div>
        </form>
    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
