@using Microsoft.AspNetCore.Identity
@using JamSpotApp.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ms-auto ">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            @{
                var user = await UserManager.GetUserAsync(User);
                var profilePictureUrl = user?.ProfilePicture ?? "https://static.vecteezy.com/system/resources/thumbnails/046/300/546/small/avatar-user-profile-person-icon-gender-neutral-silhouette-profile-picture-suitable-for-social-media-profiles-icons-screensavers-free-png.png";
            }

            <a href="#"
               class="nav-link dropdown-toggle d-flex align-items-center hidden-arrow"
               id="profileDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="@profilePictureUrl" style="width:30px;" class="rounded-circle" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li><a asp-controller="User" asp-action="All" class="dropdown-item">My profile</a></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" style="display:inline;">
                        <button type="submit" class="dropdown-item" style="color: #000; text-decoration: none;">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus"></i> Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        </li>
    }
</ul>
